# Python
*.py[c]
dist
build
node_modules
env
.vscode
frontend/.babelrc
frontend/.editorconfig
frontend/package-lock.json
frontend/.postcssrc.js
frontend/.babelrc
frontend/.editorconfig
frontend/.eslintignore
frontend/.eslintrc.js
frontend/.gitignore
frontend/.postcssrc.js
frontend/test/unit/.eslintrc

.DS_Store
package-lock.json
