# Python
*.py[c]
dist
build
node_modules
env
.vscode
frontend/.babelrc
frontend/.editorconfig
frontend/package-lock.json
frontend/.postcssrc.js
backend/migrations/
!backend/migrations/__init__.py
dist/
build/
node_modules/
backend/migrations/
!backend/migrations/__init__.py
dist/
build/
node_modules/
frontend/.babelrc
frontend/.editorconfig
frontend/.eslintignore
frontend/.eslintrc.js
frontend/.gitignore
frontend/.postcssrc.js
frontend/static/
frontend/test/
db.sqlite3
node_modules
frontend/static/
frontend/test/
db.sqlite3
.idea/

.idea/
